<div class="featured-area" id="featured">
    <div class="container justify-content-center">
        <div class="row">
            <div class="col-lg-3">
                <div class="featured-mobile">
                    <img src="../../assets/image/mobileframetwo.png" alt="">
                </div>
            </div>
            <div class="col-lg-8 offset-lg-1 col-md-12">
                <div class="featured-right-item feature-color">
                    <div class="featured-title">
                        <h2>Features</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="featured-single-items">
                                <div class="featured-single">
                                    <img src="../../assets/image/featuredicon1.png" alt="">
                                    <div class="featured-single-text">
                                        <h4>User Friendly</h4>
                                        <p>Most such devices are sold with apps bundled as installed.</p>
                                    </div>
                                </div>
                                <div class="featured-single">
                                    <img src="../../assets/image/featuredicon2.png" alt="">
                                    <div class="featured-single-text">
                                        <h4>Smooth Typography</h4>
                                        <p>Most such devices are sold with apps bundled as installed.</p>
                                    </div>
                                </div>
                                <div class="featured-single">
                                    <img src="../../assets/image/featuredicon3.png" alt="">
                                    <div class="featured-single-text">
                                        <h4>Super Fast</h4>
                                        <p>Most such devices are sold with apps bundled as installed.</p>
                                    </div>
                                </div>
                                <div class="featured-single">
                                    <img src="../../assets/image/featuredicon4.png" alt="">
                                    <div class="featured-single-text">
                                        <h4>Creative Design</h4>
                                        <p>Most such devices are sold with apps bundled as installed.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="featured-single-items">
                                <div class="featured-single">
                                    <img src="../../assets/image/featuredicon5.png" alt="">
                                    <div class="featured-single-text">
                                        <h4>Unlimited Features</h4>
                                        <p>Most such devices are sold with apps bundled as installed.</p>
                                    </div>
                                </div>
                                <div class="featured-single">
                                    <img src="../../assets/image/featuredicon6.png" alt="">
                                    <div class="featured-single-text">
                                        <h4>Easy Installation</h4>
                                        <p>Most such devices are sold with apps bundled as installed.</p>
                                    </div>
                                </div>
                                <div class="featured-single">
                                    <img src="../../assets/image/featuredicon7.png" alt="">
                                    <div class="featured-single-text">
                                        <h4>Well Documented</h4>
                                        <p>Most such devices are sold with apps bundled as installed.</p>
                                    </div>
                                </div>
                                <div class="featured-single">
                                    <img src="../../assets/image/featuredicon8.png" alt="">
                                    <div class="featured-single-text">
                                        <h4>Extra Booster</h4>
                                        <p>Most such devices are sold with apps bundled as installed.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>