<header>
  <nav class="navbar navbar-expand-sm nav-align">
    <div class="container">
        <a routerLink="home" class="navbar-brand logopad"><img src="../../assets/image/logo.png" class="logo" alt="LOGO">Ecoseize</a>     
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item midspace">
                  <a routerLink="home" class="nav-link">Home</a>
              </li>
              <li class="nav-item midspace">
                  <a routerLink="features" class="nav-link">Features</a>
              </li>
              <li class="nav-item">
                  <a routerLink="contact" class="nav-link">Contact</a>
              </li>                    
          </ul>
        </div>
    </div>
  </nav>
</header>

<!-- <a *ngFor="let route of routes" [routerLink]="route.url"></a> -->
