<div class="lolo">
    <div class="container">
        <div class="row home-color">
          <div class="col-md-6">
              <div class="hero-txt">
                  <h1>A Perfect Landing Page<br>
                  to Present Your App</h1>
                  <br>
                  <p>A mobile app is a computer program designed to run on a
                  <br> mobile device such as a phone/tablet or watch.</p>
                  <p>A mobile app is a computer program designed to run on a
                    <br> mobile device such as a phone/tablet or watch.</p>
                    <p>A mobile app is a computer program designed to run on a
                      <br> mobile device such as a phone/tablet or watch.</p><br>
                  <a href="#"><img src="../../assets/image/AppleStore.png" class="apple-download-btn" alt=""></a>
                  <a href="#"><img src="../../assets/image/GoogleStore.png" class="google-download-btn2" alt=""></a>
              </div>
          </div>
          <div class="col-md-6">
            <div class="mobframe">
                <img src="../../assets/image/mobileframeone.png" class="mobiledemo" alt="">
            </div>
          </div>
        </div>
      </div>


      <!-- <div class="container">
          <div class="row">
              <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                  <div class="card-header">Header</div>
                  <div class="card-body">
                    <h5 class="card-title">Dark card title</h5>
                    <video width="150" height="150" controls>
                      <source src="../../assets/video/01.mp4" type="video/mp4">
                  </video>
                  </div>
                </div>
                <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                      <h5 class="card-title">Dark card title</h5>
                      <video width="150" height="150" controls>
                          <source src="../../assets/video/02.mp4" type="video/mp4">
                      </video>
                    </div>
                  </div>
                  <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                      <div class="card-header">Header</div>
                      <div class="card-body">
                        <h5 class="card-title">Dark card title</h5>
                        <video width="150" height="150" controls>
                            <source src="../../assets/video/03.mp4" type="video/mp4">
                        </video>
                      </div>
                    </div>
                    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                        <div class="card-header">Header</div>
                        <div class="card-body">
                          <h5 class="card-title">Dark card title</h5>
                          <video width="150" height="150" controls>
                              <source src="../../assets/video/04.mp4" type="video/mp4">
                          </video>
                        </div>
                      </div>
                      <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                          <div class="card-header">Header</div>
                          <div class="card-body">
                            <h5 class="card-title">Dark card title</h5>
                            <video width="150" height="150" controls>
                                <source src="../../assets/video/05.mp4" type="video/mp4">
                            </video>
                          </div>
                        </div>
          </div>
        </div> -->
</div>



<!-- 

 
 
     
-->
